@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <title>Carmelo Alvarez  Mithra Sagar  Raphael Restrepo Bio</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>


<body>

    <img src="~/images/Team.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />

    <div class="row">

        <div class="col-md-4">
            <h2>Carmelo Alvarez:</h2>
            <img src="~/images/Car.jpeg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
            <p>   </p>
            <p>
                Carmelo currently works as a Senior Biological Scientist at the University of South Florida using molecular genetics to determine drug targets for important human pathogens. During his tenure in that role he developed the computational skills required to statistically analyze large data sets and found a passion for coding and analytics. This led him to enroll in a dual master's program at USF to study Business Administration and Analytics and Information Systems. He currently holds an MBA specializing in Data Analytics and an MS in Biotechnology. He hopes to leverage his technical background and transition his career into Data Science. 
            </p>
            <ul>
                <li><strong>Carmelo's Github:</strong> <a href="https://github.com/carmelotony">https://github.com/carmelotony</a></li>
            </ul>
        </div>




        <div class="col-md-4">
            <h2>Mithra Sagar:</h2>
            <img src="~/images/Mith.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
            <p>   </p>
            <p>
                Mithra is a student at the University of South Florida currently pursuing a Master of Science in Business Analytics and Information Systems. He also has a baccalaureate degree in the same field and has experience with SAS, Tableau, C#, and SQL. Currently, Mithra works in operations management in the supply chain realm and has aspirations to use his management experience coupled with BAIS to support organizational growth in a consultatory or analytical role. When not working with data, Mithra has a passion for the automotive and technology industry.
            </p>
            <ul>

                <li><strong>Mithra's Github:</strong> <a href="https://github.com/mithrasagar">https://github.com/mithrasagar</a></li>

            </ul>
        </div>

        <div class="col-md-4">
            <h2>Rafael Restrepo:</h2>
            <img src="~/images/Raf.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
            <p>   </p>
            <p>
                Rafael is a Senior Program Analyst and developer for Citibank Corporation. Currently, he is pursuing a Masters Science in Business Analytics and Information Systems. Previous educational background includes Bachelor degrees on Management Information Systems and Managment; A.S degrees in Computer programming and Systems Administration; Rafael Holds the following  professional certifications: A+ and Oracle Administrator. Previous work experience includes Microsoft, Price Warehouse Coopers and Hillsborough Community College.
            </p>
            <ul>
                <li><strong>Rafael's Github:</strong> <a href="https://github.com/rrestrep">https://github.com/rrestrep</a></li>
            </ul>
        </div>
        
       
    </div>






</body>
</html>