@{
    ViewData["Title"] = "Contact";
}
<h2>Feel free to contact us:</h2>
<!DOCTYPE html>
<html>
<head>
    <title><"Contact:"></title>
    <!-- Link to css formatting style for page-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <!--Insert section containing location information-->
        <section id="location">
            <h2 align="center"><strong>University of South Florida</strong> - Muma College of Business</h2>
            <!--Embedded Google Maps to identify location, allows for interactiveness within page-->
            <p align="center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.8922928200227!2d-82.4121486855379!3d28.058313116588646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c7c76c083cf1%3A0x5b9f6aef2f2f7c0b!2sMuma+College+of+Business!5e0!3m2!1sen!2sus!4v1550981131722" width="750" height="500" frameborder="0" style="border:0" allowfullscreen class="img-responsive"></iframe>
            </p>
        </section>
        <align ="center>"
        <div class="row">
            <!--Use of CSS style to create 3 formatted columns to contain contact information-->
            <div class="col-md-4">
                <h2>Carmelo Anthony</h2>
                <h3>President</h3>

                <ul>
                    <!--Use of href tags to include phone, LinkedIn and email contact-->
                    <li>Phone Number: <a href="tel:+2526849043">(252) 684-9043</a></li>
                    <li>Email Address: <a href="mailto:caa1@mail.usf.edu">caa1@mail.usf.edu</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/alvarezcarmelo/">Carmelo Anthony</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Rafael Restrepo</h2>
                <h3>Chancellor</h3>

                <ul>
                    <li>Phone Number: <a href="tel:+6783569921">(678) 356-9921</a></li>
                    <li>Email Address: <a href="mailto:rrestrep@mail.usf.edu">rrestrep@mail.usf.edu</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Mithra Sagar</h2>
                <h3>Director</h3>

                <ul>
                    <li>Phone Number: <a href="tel:+7183357802">(718) 357-7802</a></li>
                    <li>Email Address: <a href="mailto:mithrasagar@mail.usf.edu">mithrasagar@mail.usf.edu</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/mithrasagar/">Mithra Sagar</a></li>
                </ul>
            </div>
        </div>
        </align>
</body>
</html>