@{

    ViewData["Title"] = "Contact";

}

<!DOCTYPE html>
<html>
<head>
    <title>Carmelo Alvarez  Mithra Sagar  Raphael Restrepo Bio</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>


<body>

    <img src="~/images/ContUS.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />

    <div class="row">

        <div class="col-md-4">
            <h2>ISM6225 Faculty:</h2>
            <img src="~/images/S1.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
            <p>   </p>
            <h3>Daniel Clinton:</h3>
            <ul>

                <!--Use of href tags to include phone, LinkedIn and email contact-->

                <li>Phone Number: <a href="tel:+8135224116">(813) 522-4116</a></li>
                <li>Email Address: <a href="mailto:clintondaniel@mail.usf.edu">Clinton.Daniel@mail.usf.edu</a></li>
            </ul>

            <p>   </p>
            <h3>Manish Agrawal:</h3>
            <ul>

                <!--Use of href tags to include phone, LinkedIn and email contact-->

                <li>Phone Number: <a href="tel:+8135622841">(813) 562-2841</a></li>
                <li>Email Address: <a href="mailto:magrawal@usf.edu">magrawal@usf.edu</a></li>
            </ul>

            <p>   </p>
            <h3>Kartikay Bali (TA):</h3>
            <ul>

                <!--Use of href tags to include phone, LinkedIn and email contact-->

                <li>Phone Number: <a href="tel:+813321321">(813) 321-3211</a></li>
                <li>Email Address: <a href="mailto:Kartikay.Bali@mail.usf.edu">Kartikay.Bali@mail.usf.edu</a></li>
            </ul>

        </div>




        <div class="col-md-4">
            <h2>Group 5 :</h2>
            <img src="~/images/S3.jpg" alt="Larn Visual Studio" class="img-responsive" style="text-align:center" />
            <p>   </p>
            <h3>Carmelo Anthony:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+2526849043">(252) 684-9043</a></li>
                <li>Email Address: <a href="mailto:caa1@mail.usf.edu">caa1@mail.usf.edu</a></li>
            </ul>

            <p></p>
            <h3>Mithra Sagar:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+7183357802">(718) 357-7802</a></li>
                <li>Email Address: <a href="mailto:mithrasagar@mail.usf.edu">mithrasagar@mail.usf.edu</a></li>
            </ul>

            <p></p>
            <h3>Rafael Restrepo:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+6783569921">(678) 356-9921</a></li>
                <li>Email Address: <a href="mailto:rrestrep@mail.usf.edu">rrestrep@mail.usf.edu</a></li>
            </ul>
        </div>



        <div class="col-md-4">
            <h2>MUMA - USF:</h2>
            <p></p>


            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3520.8922928200227!2d-82.4121486855379!3d28.058313116588646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c7c76c083cf1%3A0x5b9f6aef2f2f7c0b!2sMuma+College+of+Business!5e0!3m2!1sen!2sus!4v1550981131722" width="256" height="256" frameborder="0" style="border:0" allowfullscreen class="left"></iframe>


            <p></p>

            <h3>College of Bussiness:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+6783569921">(678) 356-9921</a></li>
                <li>Email Address: <a href="mailto:MUMA.USF@mail.usf.edu">MUMA.USF@mail.usf.edu</a></li>
            </ul>
            <p></p>


            <h3>USF Tampa:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+6783569921">(678) 356-9921</a></li>
                <li>Email Address: <a href="mailto:USF@mail.usf.edu">USF@mail.usf.edu</a></li>
            </ul>
            <p></p>

            <h3>USF MUMA Dean:</h3>
            <ul>
                <!--Use of href tags to include phone, LinkedIn and email contact-->
                <li>Phone Number: <a href="tel:+8139744281">(813) 974-4281</a></li>
                <li>Email Address: <a href="mlimayem@usf.edu">mlimayem@usf.edu</a></li>
            </ul>

        </div>

    </div>

</body>

</html>

