@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Mithra Use this section to enter  the following</p>
<ul>
    <li>Responsiveness – compatibility with small (mobile), medium (tablet) and large (desktop) screen sizes</li>
    <li>Content – relevance of the content on the site</li>
    <li>Learn MVC framework </li>
    <li>Design – use of at least 3 specific design guidelines and ideas for web sites</li>
    <li>Please add a comment to your submission, reflecting on your learnings, total time required and any recommendations for future assignments</li>
    
</ul>
